*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  background:
    linear-gradient(
      rgba(5,11,22,.65),
      rgba(5,11,22,.85)
    ),
    url("../../image/bg.png");
  background-size:cover;
  background-position:center;
  color:var(--text);
}

/* head */
header{
  height:72px;
  padding:0 32px;
  display:flex;
  align-items:center;
  gap:14px;
  background:var(--glass-bg);
  backdrop-filter:blur(12px);
}

header img{
  width:38px;
  height:30px;
  border-radius:50%;
}

.logo{
  animation:oceanColor 5s ease-in-out infinite alternate;
}

@keyframes oceanColor{
  0%{
    color:var(--text);
    text-shadow:0 0 10px var(--white-soft);
  }

  50%{
    color:var(--sea);
    text-shadow:0 0 20px var(--sea-glow);
  }

  100%{
    color:var(--ocean);
    text-shadow:0 0 25px var(--ocean-glow);
  }
}

/* main */
.hero{
  min-height:calc(100vh - 72px);
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  padding:50px 80px;
  gap:13px;
}

/* input */
.hero form{
  width:420px;
  display:flex;
}

.hero input{
  width:100%;
  padding:16px 24px;
  border:none;
  outline:none;
  border-radius:10px;
  background:var(--ocean-soft);
  color:var(--text);
  backdrop-filter:blur(12px);
}

.hero input:focus{
  border:1px solid var(--ocean);
  box-shadow:0 0 20px var(--ocean-medium);
  transform(1.10);
}

/* shortcuts */
.shortcuts{
  list-style:none;
  display:flex;
  flex-direction:column;
  gap:14px;
}

.shortcuts a img{
  width:32px;
  height:32px;
  object-fit:contain;
  flex-shrink:0;
}

.shortcuts li{
  display:block;
}

.shortcuts a span{
  line-height:1;
}

.shortcuts a{
  width:180px;
  height:52px;
  border-radius:14px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:flex-start;
  gap:14px;
  padding:0 18px;
  background:var(--glass-bg);
  border:1px solid var(--glass-border);
  backdrop-filter:blur(12px);
  text-decoration:none;
  color:var(--text);
  transition:.3s;
}

.shortcuts a:hover{
  transform:translateY(8px);
  background:var(--ocean-strong);
}

/* widget */
.widgets{
  position:absolute;
  top:96px;
  right:80px;
  display:flex;
  gap:14px;
}

.widget-card{
  width:auto;
  padding:16px;
  border-radius:16px;
  background:var(--glass-bg);
  border:1px solid var(--glass-border);
  backdrop-filter:blur(12px);
}

.widget-card span,
.widget-card small{
  color:var(--text-muted);
}

.widget-card strong{
  display:block;
  margin:8px 0;
  color:var(--text);
}

/* clock */
.clock-widget{
  position:absolute;
  right:80px;
  text-align:right;
}

.clock-widget p{
  color:var(--text-muted);
  font-size:14px;
}

.clock-widget h1{
  font-size:48px;
  font-weight:700;
  color:var(--text);
}

.weather-main{
  display:flex;
  align-items:center;
  gap:8px;
}

#weather-temp{
  font-size:18px;
  font-weight:700;
  color:var(--text);
}

#currency-rate{
  font-size:17px;
  font-weight:700;
  color:var(--text);
}
